body {
  margin: 4rem;
}
.slide {
  font-family: sans-serif;
  font-size: 2rem;

  header {
    font-size: 1rem;
  }
}

.hidden {
  display: none;
}

code {
  font-family: 'Input', 'Menlo', 'Monaco', 'Courier New', monospace;
}
